/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1f2f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #555;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    width: 98%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link-container, .form-container, .table-container, .report-container {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

/* Form Styles */
.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container textarea,
.form-container select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

.form-container button {
    padding: 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

/* Table Styles */
.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container th,
.table-container td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
}

.table-container th {
    background-color: #007bff;
    color: white;
}

.table-container td img {
    width: 100px;
    height: auto;
    border-radius: 4px;
}

.table-container tbody tr:hover {
    background-color: #f1f1f1;
}

/* Button Styles */
.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #007bff;
    color: white;
}

/* Chart Styles */
canvas {
    margin-top: 10px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .table-container th,
    .table-container td {
        font-size: 0.9em;
        padding: 8px;
    }

    .button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .form-container button {
        padding: 10px;
        font-size: 14px;
    }
}
