/* Θέτουμε τα default fonts/margin/padding και background color για την σελίδα (W3Schools, 2024) */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1f2f4;
}

/* Θέτουμε το στυλ της επικεφαλίδας μας με άσπρο χρώμα centered text, padding, και ένα box shadow. (W3Schools, 2024) */
header {
    background-color: #555;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Θέτουμε το container μας στο κέντρο βάζουμε padding, άσπρο background, rounded corners και σκίαση (W3Schools, 2024)*/
.container {
    width: 90%;
    margin: 2em auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ξεχωρίζουμε τον form container από τα υπόλοιπα elements της σελίδας (W3Schools, 2024) */
.form-container {
    margin-bottom: 2em;
}

/* Διαμόρφωση των inputs, textareas, select και buttons με συγκεκριμένο padding, και περιθώρια (W3Schools, 2024) */
input[type="text"],
input[type="number"],
textarea,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Διαμόρφωση button με συγκεκριμένο φόντο, λευκό κείμενο, χωρίς περίγραμμα και να αλλάζει το χρώμα του φόντου κατά το mouse-over  (W3Schools, 2024)*/
a.button {
    background-color: #555;
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}

a.button:hover {
    background-color: #333;
}
/* Διαμόρφωση των tables σε  πλάτος 100%, collapsed περιθώρια, επισκιάσεις και διαμόρφωση των επικεφαλίδων/κελίων των πινάκων (W3Schools, 2024)*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

td img {
    width: 100px;
    height: auto;
    border-radius: 12px;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Διαμόρφωση Checkbox και  Delete Buttons */
td form {
    display: inline-block;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Ρυθμίσεις για το report και canvas container */
.report-container {
    margin-top: 2em;
}

.canvas-container {
    margin: 20px 0;
    text-align: center;
}

/* Responsive Design (W3Schools, 2024) */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    th, td {
        font-size: 0.9em;
    }

    td img {
        width: 50px;
    }

    button {
        padding: 10px;
    }
}
